::before::after {
    padding: 0;
    margin:0;
}
body {
    background-color: #2221CA;

}
#s-button {
    size: 15px;
    text-align: center;
    height:100px;
    width: 100px;
    float: right;
    padding-left: 10px;
    margin: 15px;
}
.s-desc {
    display: hidden;
    float: left;
    opacity: 0;
    text-align: center;
}